<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Администрирование авторов</title>
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:700,900" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="css/authorAdm.css" rel="stylesheet">
    <link href="css/topAndBottom.css" rel="stylesheet">
    <div class="modal fade" id="addingForm" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Добавление данных</h4>
                    <button class="close" type="button" data-dismiss="modal">×</button>
                </div>
                <div class="modal-body">
                    <form class="form" action="/author/add_new_author" method="post" id="newAuthorForm" enctype="application/json">
                        <div class="form__container">
                            <div class="form__inputs">
                                <input class="form__input" type="text" name="name" placeholder="Имя" required>
                                <br>
                                <br>
                                <input class="form__input" type="text" name="secName" placeholder="Фамилия" required>
                                <br>
                                <br>
                                <input class="form__input" type="email" name="email" placeholder="Email" required>
                                <br>
                                <br>
                                <input class="form__input" type="tel" name="phone" pattern="^\+7\d{3}\d{7}$" value="+7" maxlength="12" placeholder="Email" required>
                                <br>
                                <br>
                                <input class="form__input" type="number" name="ranking" maxlength="2" placeholder="Рейтинг" required>
                                <br>
                                <br>
                                <input class="form__input" type="number" name="price" maxlength="8" placeholder="Стоимость" required>
                                <br>
                                <br>
                                <input class="form__input" type="text" name="mission"  placeholder="Цель регистрации" required>
                                <br>
                                <br>
                                <input class="form__input" type="text" name="mainText"  placeholder="Основной текст" required>
                                <br>
                                <br>
                            </div>
                        </div>
                        <div class="form__buttons">
                            <input class="btn btn-info uk-button uk-button-primary top-margin" type="submit" value="Отправить">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-info" type="button" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="editingForm" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Изменение данных</h4>
                    <button class="close" type="button" data-dismiss="modal">×</button>
                </div>
                <div class="modal-body">
                    <form class="form" action="/author/edit_author" method="post" id="editAuthorForm" enctype="application/json">
                        <div class="form__container">
                            <div class="form__inputs">
                                <input class="form__input" type="text" name="editName" id="editName" placeholder="Имя" required>
                                <br>
                                <br>
                                <input class="form__input" type="text" name="editSecName" id="editSecName" placeholder="Фамилия" required>
                                <br>
                                <br>
                                <input class="form__input" type="email" name="editEmail" id="editEmail" placeholder="Email" required>
                                <br>
                                <br>
                                <input class="form__input" type="tel" name="editPhone" id="editPhone" pattern="^\+7\d{3}\d{7}$" value="+7" maxlength="12" placeholder="Email" required>
                                <br>
                                <br>
                                <input class="form__input" type="number" name="editRanking" id="editRanking" maxlength="2" placeholder="Рейтинг" required>
                                <br>
                                <br>
                                <input class="form__input" type="number" name="editPrice" id="editPrice" maxlength="8" placeholder="Стоимость" required>
                                <br>
                                <br>
                                <input class="form__input" type="text" name="editMission" id="editMission"  placeholder="Цель регистрации" required>
                                <br>
                                <br>
                                <input class="form__input" type="text" name="editMainText" id="editMainText"  placeholder="Основной текст" required>
                                <br>
                                <br>
                                <input class="form__input" type="text" name="idAuthor" id="idAuthor"  placeholder="Id автора" readonly>
                                <br>
                                <br>
                            </div>
                        </div>
                        <div class="form__buttons">
                            <input class="btn btn-info uk-button uk-button-primary top-margin" type="submit" value="Отправить">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-info" type="button" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample08" aria-controls="navbarsExample08" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
    <div class="collapse navbar-collapse justify-content-md-center" id="navbarsExample08">
        <ul class="navbar-nav">
            <li class="nav-item"><a class="nav-link" href="/">Главная</a></li>
            <li class="nav-item"><a class="nav-link" href="/author">Авторы</a></li>
            <li class="nav-item"><a class="nav-link" href="/article">Посты</a></li>
            <li class="nav-item dropdown active"><a class="nav-link dropdown-toggle" id="dropdown08" href="http://example.com" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Меню</a><span class="sr-only">(current)</span>
                <div class="dropdown-menu" aria-labelledby="dropdown08"><a class="dropdown-item" href="/authorAdmin">Админочка авторов</a><a class="dropdown-item" href="/articleAdmin">Админочка постов</a><a class="dropdown-item" href="/posts">Об авторе</a></div>
            </li>
        </ul>
    </div>
</nav>
<input class="form-control input-sm" id="searchString" type="text" onkeyup="tableSearch()" placeholder="Поиск по таблице" aria-controls="example">
<table class="table table-striped table-bordered" id="authorsTable">
    <thead>
    <tr>
        <th>Имя</th>
        <th>Фамилия</th>
        <th>Почта</th>
        <th>Телефон</th>
        <th>Рейтинг</th>
        <th>Стоимость</th>
        <th>Цель</th>
        <th>Описание</th>
        <th>
            <button class="btn btn-info btn-lg" type="button" data-toggle="modal" data-target="#addingForm">Добавить</button>
        </th>
    </tr>
    </thead>
    <tbody>
    {% for author in authors %}
        <tr>
            <td>
                {{ author.getName() }}
            </td>
            <td>
                {{ author.getSecName() }}
            </td>
            <td>
                {{ author.getEmail() }}
            </td>
            <td>
                {{ author.getPhone() }}
            </td>
            <td>
                {{ author.getRanking() }}
            </td>
            <td>
                {{ author.getPrice() }}
            </td>
            <td>
                {{ author.getMission() }}
            </td>
            <td>
                {{ author.getMainText() }}
            </td>
            <td>
                <a class="btn btn-info btn-lg" href="/author/delete_author/{{ author.getId() }}">Удалить</a>
                <button class="btn btn-info btn-lg" onclick="fillEditField('{{ author.getName() }}', '{{ author.getSecName() }}', '{{ author.getEmail() }}', '{{ author.getPhone() }}', '{{ author.getRanking() }}', '{{ author.getPrice }}', '{{ author.getMission() }}', '{{ author.getMainText() }}', '{{ author.getId() }}')" type="button" data-toggle="modal" data-target="#editingForm">Изменить</button>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
<footer class="blog-footer">
    <p>Blog template built for<a href="https://getbootstrap.com/">Bootstrap</a> by<a href="https://github.com/user-penguin">@user-penguin</a>.<a href="#"> Back to top</a></p>
</footer>
<script>
    function fillEditField(name, secName, email, phone, ranking, price, mission, mainText, idAuthor) {
        document.getElementById('editName').value = name;
        document.getElementById('editSecName').value = secName;
        document.getElementById('editEmail').value = email;
        document.getElementById('editPhone').value = phone;
        document.getElementById('editRanking').value = ranking;
        document.getElementById('editPrice').value = price;
        document.getElementById('editMission').value = mission;
        document.getElementById('editMainText').value = mainText;
        document.getElementById('idAuthor').value = idAuthor;
        console.log(idAuthor);
    }
</script>
<script>
    function tableSearch() {
        var phrase = document.getElementById('searchString');
        var table = document.getElementById('authorsTable');
        var regPhrase = new RegExp(phrase.value, 'i');
        var flag = false;
        for (var i = 1; i < table.rows.length; i++) {
            flag = false;
            for (var j = table.rows[i].cells.length - 1; j >= 0; j--) {
                flag = regPhrase.test(table.rows[i].cells[j].innerHTML);
                if (flag) break;
            }
            if (flag) {
                table.rows[i].style.display = "";
            } else {
                table.rows[i].style.display = "none";
            }
        }
    }
</script>

<!-- Placed at the end of the document so the pages load faster-->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="assets/js/vendor/popper.min.js"></script>
<script src="dist/js/bootstrap.min.js"></script>
<script src="assets/js/vendor/holder.min.js"></script>
<script>
    Holder.addTheme('thumb', {
        bg: '#55595c',
        fg: '#eceeef',
        text: 'Thumbnail'
    });
</script>
</body>
</html>